<div class="mainContentLogin"> 
    <div class="divMainLogin container">
        <div class="row">
            <div class="col divCol">
                <!--Imagen-->
                <div class="imgContainer"><img src="../../../assets/logo.png" width="100%"></div>
            </div>
            <div class="col centrarDiv">
                <!--Formulario-->
                <form class="formulario">
                    <a href="/login" class="msjRegistro">Tienes una cuenta? Inicia Sesion</a>
                    <br>
                    <br>
                    <h1 class="msjBienvenida">Crea una Cuenta</h1>
                    <br>
                    <div class="registro">
                        <input type="text" class="form-control " placeholder="Nombre">
                        <input type="text" class="form-control " placeholder="Apellidos">
                        <input type="text" class="form-control " placeholder="T.D">
                        <input type="text" class="form-control " placeholder="# Documento">
                        <input type="text" class="form-control " placeholder="Telefono">
                        <input type="text" class="form-control " placeholder="Direccion">
                        <input type="text" class="form-control " placeholder="Ciudad">
                        <input type="text" class="form-control " placeholder="Pais">
                        <input type="text" class="form-control " placeholder="Correo">
                    </div>
                    <br>
                    <button type="submit">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>